@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}
/* 
.header-with-background {
  background-color: #3b352f; 
} */

header a:hover {
  transition: 0.3s ease;
  color: #fea403;
}

header a:last-child:hover {
  transition: 0.3s ease;
  background-color: #fea403;
}

/* 
header .navigation-items a {
  transition: 0.3s ease;
}
header .navigation-items a:before {
  content: "";
  position: absolute;
  background: black;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
} */
/* 
header .navigation-items a:first-child:hover:before {
  width: 100%;
}
header .navigation-items a:nth-child(2):hover:before {
  width: 100%;
}
header .navigation-items a:nth-child(3):hover:before {
  width: 100%;
}
.hero::before {
  z-index: 777;
  content: "";
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */
.slider-navigation {
  transform: translateY(80px);
}
.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}
.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }
  .hero {
    padding: 100px 20px;
  }
}

.slider-navigation .nav-btn.active {
  background-color: #fea403;
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1s ease;
}

/* Features section */
.features {
  margin-top: 50px;
}
.features h2 {
  text-align: center;
  color: #333;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 120px;
  margin: 50px 80px 80px 80px;
}

.service-card {
  background-color: #fff;
  border: none;
  border-radius: 40px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card img {
  max-width: 95%;
  height: 45%;
  border-radius: 10px;
}

.service-card h3 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.service-card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #031968;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.service-card .btn:hover {
  background-color: #0728a1;
  color: #fff;
}

.section {
  padding: 30px 70px 0px 70px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
  align-items: center;
}

.section h3 {
  position: relative;
  font-size: 30px;
}

.section-img-1 img {
  width: 800px; /* Set the desired width */
  height: 400px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  filter: drop-shadow(0px 0px 5px 15px gray);
}

.section .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #031968;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section .btn:hover {
  background-color: #0728a1;
  color: #fff;
}
.section h3 {
  font-size: 35px;
  color: #333;
}
.section p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    margin: 30px 40px 40px 40px;
  }

  .service-card {
    min-height: auto;
  }

  .section {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .section-img img {
    /* width: 100%; */
    filter: none;
  }
}

.acc {
  box-shadow: inset 0 0 10px 25px rgba(128, 128, 128, 0.5);
}

.legalHelp {
  color: #333;
  font-weight: bold;
}

/* FAQ's */

.FAQ {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 2.5rem;
  margin: 2rem 0rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.5rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.features {
  margin: 100px 0;
}
