body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffae00;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    width: 80%; /* Reduce the width of both boxes */
    max-width: 400px; /* Max width for responsiveness */
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

label, textarea, select, button {
    margin: 10px 0;
    width: 100%; /* Make input elements full width */
    text-align: center;
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #ffae00;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    /* Adjust button width to content */
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Add animation to the modal */
.modal-content {
    animation: slide-in 0.4s;
}

@keyframes slide-in {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
